.wrapper {
  /* width: 500px; */
}

div.app {
  margin-bottom: 3px;
  margin-right: 0.5px;
  height: 10px;
  width: 0px;
  background-color: darkslategray;
}

div.hidden {
  display: none;
}

div.hovered {
  outline: 2px solid green;
}

button.witness-button {
  margin-bottom: 1rem;
}
