.wrapper {
  /* width: 500px; */
}

div.app {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 3px;
  margin-right: 0.1px;
  height: 15px;
  width: 0px;
  background-color: darkslategray;
}

div.hovered {
  border: 1px solid red;
}

button.witness-button {
  margin-bottom: 1rem;
}
