.wrapper {
  /* width: 500px; */
}

div.app {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 1px;
  height: 10px;
  width: 0px;
  background-color: lightgray;
  border: 1px solid gray;
}

div.hovered {
  border: 1px solid red;
}

div.tt {
  position: absolute;
  text-align: left;
  width: 400px;
  height: auto;
  padding: 2px;
  font: 15px serif;
  border: 1px solid black;
  background-color: lightgray;
  pointer-events: none;
}

button.witness-button {
  margin-bottom: 1rem;
}